.share-btn-container {
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 16px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
  }
  
  .share-btn-container a i {
	font-size: 28px;
  }
  
  .share-btn-container a {
	margin: 12px 0;
	transition: 500ms;
  }
  
  .share-btn-container a:hover {
	transform: scale(1.2);
  }
  
  .share-btn-container .fa-facebook {
	color: #3b5998;
  }
  
  .share-btn-container .fa-twitter {
	color: #1da1f2;
  }
  
  .share-btn-container .fa-linkedin {
	color: #0077b5;
  }
  
  .share-btn-container .fa-pinterest {
	color: #bd081c;
  }
  
  .share-btn-container .fa-whatsapp {
	color: #25d366;
  }
  
  
  @media (max-width: 550px) {

  
	.share-btn-container {
	  z-index: 1;
	  transform: unset;
	  top: unset;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  flex-direction: row;
	  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
	  padding: 16px 0;
	  justify-content: center;
	}
  
	.share-btn-container a {
	  margin: 0 32px;
	}
	}
	
	/* Comment Section CSS */

	.card-comment{
		display: block;
		margin: 20px 0;
		padding: 5px;

	}
	.success{
		color: white;
		display: block;
		background-color: green;
		opacity: 0.4;
	}
	.error{
		color: white;
		display: block;
		background-color:red;
		opacity: 0.4;

	}
	#comment-set{
		margin: 10px;
		padding: 15px 0 15px 15px;
		display: block;
		border: 1px solid #f9f9f9;
	
	
	}
	.card-header{
		background-color: #3b5998;
		color: white !important;
	}
	.comment-btn{
		background-color: #038c25;
	}
	.comment-btn:hover{
		background-color: #3de467;
	}
	
			li{
					list-style-type: none;
			}